body{
	background:#fff;
}
.banner{
background:url("../images/new-banner.jpg") no-repeat left top;
background-size:cover;
}
.index-side .header{
	width:270px;
}
.index-strategy{
	background:#FFF;
}
.newsdetail{
	width:1050px;
	margin-left:316px;
	.artical{
		width:636px;
		float:left;
	.title{
		text-align:center;
		font-size:20px;
		font-weight:400;
		line-height: 45px;
	}

	.time{
		text-align:center;
		font-size:12px;
		line-height: 29px;
		color:#a1a1a1;
	}
	.describe{
		padding-top:8px;
			 p{
				text-align:justify;
				text-justify:distribute-all-lines;
				text-align-last:left; 
				line-height: 36px;
				font-size:14px;
			}
			}
	}
	.picture{
		padding-top:130px;
		margin-left:41px;
		width:371px;
		float:left;
		img{
			width:371px;
			height:245px;
			overflow:hidden;
			margin-bottom:48px;
		}
	}
}
.news_TOP{
	display:inline-block;
	bottom:30px;
	right:30px;
	width:34px;
	height:34px;
	font-size:34px;
	position:fixed;
	cursor:pointer;
}
.index-content {
    left: 0px!important;
}